#slider-70 .wd-slide {
	min-height: 555px;
}

@media (max-width: 1024px) {
	#slider-70 .wd-slide {
		min-height: 760px;
	}
}

@media (max-width: 768px) {
	#slider-70 .wd-slide {
		min-height: 720px;
	}
}
